body {
	background-color: white;
	font-family: Tahoma;
	color: #3D0085;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

p {
	text-indent: 50px;
}

div.Header {
	background-color: #3D3D3D;
	font-size: 20px;
	color: #DADADA;
	padding: 20px;
}

div.Toolbar {
	width: 100%;
	overflow: auto;
}

	div.Toolbar a {
		float: left;
		text-align: center;
		padding: 12px 12px;
		transition: all 0.3s ease;
		color: white;
		font-size: 22px;
		border: solid;
	}

		div.Toolbar a:hover {
			border: 2px solid;
			border-color: #8117FF;
			text-decoration: none;
		}

a.ImageButton img {
	height: 20px !important;
	width: 20px !important;
}
