body {
	background-color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #6D00FF;
}

body a {
    font-style: italic;
}

body a:hover {
    font-weight: bold;
    font-kerning: auto;
	font-style: normal;
}

div.Header {
	background-color: #302C36;
	font-size: 20px;
	color: #6D00FF;
	padding: 5px;
}